<h2>Set New Password</h2>
<% if (locals.error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
<form action="/reset-password" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required minlength="8">
    <small>Password must be at least 8 characters long</small>
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required minlength="8">
  </div>
  <button type="submit">Reset Password</button>
</form>